select-enhancer {
  --blocks: 5; /* Number of option blocks to display before needing to scroll */

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: inherit;
  height: inherit;

  @media only screen and (min-width: 600px) {
    --blocks: 10;
  }

  & > [role="combobox"] {
    --border-width: 1.5px;

    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px;
    border: var(--border-width) solid #cecece;
    border-radius: 4px;
    outline: none;

    cursor: pointer;
    white-space: pre;
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    color: currentcolor;
    background-color: white;

    &[filter] {
      cursor: auto;
    }

    &:focus {
      border-color: dodgerblue;
    }

    & + [role="listbox"] {
      --listbox-border: 2px;
      --option-height: 38px;
      --option-padding: 8px;

      position: absolute;
      z-index: 2;

      box-sizing: border-box;
      width: 100%;
      max-height: calc(var(--option-height) * var(--blocks) + var(--listbox-border) * 2);
      padding: 0;
      border: var(--listbox-border) solid #cecece;
      border-radius: 4px;
      margin: 0;

      overflow: auto;
      background-color: white;

      &:is([role="combobox"]:not([aria-expanded="true"]) + [role="listbox"]) {
        display: none;
      }

      /* TODO: Should this be a custom `ElementInternals` state? */
      &:is([role="combobox"][filteris="anyvalue"] + [role="listbox"]:not(:has(:not([data-filtered-out])))) {
        /* Hide `listbox` without making it inaccessible */
        clip-path: inset(50%);
      }

      & > [role="option"] {
        display: block;
        box-sizing: border-box;
        height: var(--option-height);
        padding: var(--option-padding);
        cursor: pointer;

        &[data-active="true"]:not([aria-selected="true"]) {
          background-color: #bddaff; /* `background-color` for `selected` items, brightened by 70% */
        }

        &[aria-selected="true"] {
          color: white;
          background-color: #2684ff;
        }

        &[data-filtered-out] {
          display: none;
        }

        /* TODO: Add _full_ `disabled` styles. Should those match `inert` as well, or no? Maybe not? */
        &:is([inert], [aria-disabled="true"]) {
          cursor: auto;
        }
      }
    }
  }
}
